*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* definindo container geral */

.container-geral{
    width: 100vw;
    height: 100vh;
    gap: 3rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(199, 221, 255);
}

/* container do formulario */

.container-geral__separar{
    width: 30%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(169, 202, 246);
    border-radius: 10px;
    gap: 1rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    transition: 2s ease;
}

.container-geral__separar:hover{
    background-color: rgb(141, 190, 255);
    transform: scale(1.1);
    margin-right: 1rem;
}
/* Area geral do formulario */

.container-geral__form{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 80%;
    height: 60%;
    gap: 0.3rem;
}

/* Formatando o input do formulario */

.container-geral__form--input{
    width: 100%;
    height: 20%;
    border-radius: 10px;
    border: none;
    padding: 10px;
    outline-color: rgb(141, 190, 255);
}

/* Formatando o botao do formulario */
.container-geral__form-botoes{
    display: flex;
    height: 20%;
    justify-content: space-between;
    margin-top: 1rem;
}

.container-geral__form--button{
    width: 32%;
    height: 100%;
    border-radius: 10px;
    border: 0px solid black;
    background-color: rgb(255, 255, 255);
    transition: 1s ease;
    gap: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-geral__form--button:hover{
    background-color: black;
    color: white;
}

.container-geral__mensagens{
    width: 30%;
    height: 500px;
    background-color: rgb(169, 202, 246);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    transition: 2s ease;
    overflow: auto;
}

.container-geral__mensagens:hover{
    background-color: rgb(141, 190, 255);
    transform: scale(1.1);
    margin-left: 1rem;
}

.container-geral__mensagens:hover .container-geral__mensagens-mensagem{
    background-color: rgb(169, 202, 246);
}

.container-geral__mensagens-titulo{
    margin-top: 3rem;
}

.container-geral__mensagens-mensagem{
    width: 80%;
    height: 180px;
    background-color: rgb(141, 190, 255);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: 2s ease;
    word-wrap: break-word;
    gap: 5px;
}
.button-div{
    display: flex;
    width: 100%;
    gap: 5px;
}
.button-mensagens{
    width: 33%;
    height: 30px;
    border-radius: 4px;
    border: none;
}

a{
    text-decoration: none;
        color: black;
}