<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principal</title>
    <!-- Linkando o css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-form.css') }}">
    <!-- Link da fonte do google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <section class="container-geral">
        <div class="container-geral__separar">   
            <h1>Comentarios</h1>
            <h2>Seja Bem-vindo {{ session["nome"]}}</h2>
            <!-- Formulario com os comentarios e nome de usuario -->
            <form action="/post/comentarios" method="post" class="container-geral__form">
                <label for="nomeUsuario">Nome de usuário </label>
                <input type="text" name="nomeUsuario" id="nomeUsuario" class="container-geral__form--input"> 

                <label for="mensagem">Comentário </label>
                <input type="text" name="mensagem" id="comentario" class="container-geral__form--input">
                <div class="container-geral__form-botoes">
                    <button class="container-geral__form--button">Enviar</button>
                    <a href="cadastrar" class="container-geral__form--button">Cadastrar</a>
                    <a href="/" class="container-geral__form--button">Login</a>
                </div>
            </form>
        </div>

        <div class="container-geral__mensagens">
            <h1 class="container-geral__mensagens-titulo">Mensagens</h1>
            {% for mensagem in mensagens %} 
                <div class="container-geral__mensagens-mensagem">
                    <p>Usuario: {{mensagem.nome}}<p>
                    <p>Mensagem: {{mensagem.comentario}} </p>
                    <div class="button-div">
                        <button class="button-mensagens"><a href="/delete/mensagem/{{mensagem.cod_comentario}}">Excluir</a></button>
                        <button class="button-mensagens"><a href="/aumenta/mensagem/{{mensagem.cod_comentario}}">Like</a></button>
                        <button class="button-mensagens"><a href="/diminui/mensagem/{{mensagem.cod_comentario}}">Deslike</a></button>
                    </div>
                    <div>
                        <p>Likes: {{mensagem.curtidas}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <button class="sair"><a href="/sair/usuario">Sair</a></button>

    </section>

</body>
</html>